*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xlm
.DS_Store
/build
/captures
.idea/
.idea/*
.externalNativeBuild
/app/src/main/res/mipmap-hdpi
/app/src/main/res/mipmap-mdpi
/app/src/main/res/mipmap-xhdpi
/app/src/main/res/mipmap-xxhdpi
/app/src/main/res/mipmap-xxxhdpi

